html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body > #__plasmo {
  height: 100%;
}
